<script src="common/initShaders2.js"></script>
<script src="common/MV.js"></script>
<script src="common/webgl-debug.js"></script>
<script src="Camera.js"></script>
<script src="Input.js"></script>
<script src="testVoxel.js"></script>
<script src="Chunk.js"></script>
<div id="fps">FPS: 0</div>
<canvas width="1080" height="1920" id="webgl-canvas"></canvas>
<script>

    var canvas = document.getElementById('webgl-canvas');// get reference to canvas element
    canvas.width = parent.innerWidth; //sets the width of the canvas to fill the browsers inner width
    canvas.height = parent.innerHeight; //sets the height of the canvas to fill the browsers inner height
    var gl = canvas.getContext("webgl2") || canvas.getContext("experimental-webgl");// enables webgl in canvas
    gl = WebGLDebugUtils.makeDebugContext(gl)// enable debugging of webGL

    var camera; //the camera
    var input;
    var chunk;
    //var voxel;

    function setup(){

        gl.enable(gl.DEPTH_TEST); //enable depth test
        gl.viewport(0,0,gl.drawingBufferWidth,gl.drawingBufferHeight); //the viewport of webgl
        camera = new Camera(75,gl.canvas.clientWidth/gl.canvas.clientHeight,1,1000); //create a new camera
        input = new Input();
        camera.translate(vec3(0,0,10));
        gl.enable(gl.CULL_FACE);
        //voxel = new Voxel();

        chunk = new Chunk(new vec3(0,0,0),125);

        gl.clearColor(0.3, 0.3, 1, 1); //background color

        }

    function draw(){
        gl.clearColor(0.3, 0.3, 1, 1); //background color
        gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT); //clear the color and depth buffers

        if(input.keys[KeyCode.W]){
            camera.translate(camera.front);
        }
        if(input.keys[KeyCode.S]){
            camera.translate(camera.back);
        }
        if(input.keys[KeyCode.D]){
            camera.translate(camera.right);
        }
        if(input.keys[KeyCode.A]){
            camera.translate(camera.left);
        }
        if(input.keys[KeyCode.SPACE]){
            camera.translate(new vec3(0,1,0))
        }
        if(input.keys[KeyCode.SHIFT]){
            camera.translate(new vec3(0,-1,0))
        }

        chunk.draw();
        //voxel.draw;
        FPS();
        requestAnimationFrame(draw); //request to run this function again
    }

    var then = Date.now()/1000;
    var fpsElement = document.getElementById("fps");
    function FPS(){
        let now = Date.now()/1000;
        let elapsedTime = now-then;
        then = now;
        let fps = 1/elapsedTime;
        fpsElement.innerText = fps.toFixed(2);
    }


    window.onload = function() { //on the window has been loaded
        setup(); //run the setup function
        draw(); //run the draw function
    };

    window.onmousemove = function (e) {
        input.mouseMove(e);
        camera.rotate(new vec3(input.offset,0));
    }
    window.onmousedown = function(){
        canvas.requestPointerLock = canvas.requestPointerLock || canvas.mozRequestPointerLock;
        canvas.requestPointerLock()
    }

    window.onkeydown = function (e) {
        input.keyDown(e);
    }
    window.onkeyup =function (e) {
        input.keyUp(e);
    }

</script>